<!--lo voy a a hacer usando Bootstraps
primero lo instale usando cmd - npm install bootstrap y reinicié el server */
copio en angular.json: "node_modules/bootstrap/dist/css/bootstrap.min.css"-->
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <img src="../../../assets/perfil.jpg" alt="" class="img-fluid" id="fotoperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Christian Covello</p>
        <p id="titulo">Full Stack Developer jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit incidunt quam deserunt minima modi magnam tempora hic suscipit? Maiores similique, molestiae fugit corporis aut earum adipisci reiciendis magni. Alias?</p>
        </span>
    </div>
</div>

</div>
