<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Estudios 1</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia et ratione assumenda cumque magni eius animi, impedit est laboriosam incidunt sint harum itaque dolores illum eligendi a laborum ut ullam.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia et ratione assumenda cumque magni eius animi, impedit est laboriosam incidunt sint harum itaque dolores illum eligendi a laborum ut ullam.</p>
        </ul>
        <ul>
            <li>
                <h1>Estudios 3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia et ratione assumenda cumque magni eius animi, impedit est laboriosam incidunt sint harum itaque dolores illum eligendi a laborum ut ullam.</p>
        </ul>

    </div>
</div>

