
 
 <div class="row">
   <div class="col-sm-12 col-md-3 col-lg-3">
   <app-logo-ap></app-logo-ap>
   </div>

   <div class="text-center col-sm-12 col-md-6 col-lg-6 links">
      <nav>
         <a href="#nombre">Acerca de</a>
         <a href="#experiencia">Experiencia</a>
         <a href="#educacion">Educación</a>
         <a href="#s&h">H&S</a>
         <a href="#proyectos">Proyectos</a>
      </nav>   
   </div>
   <div class="col-sm-12 col-md-3 col-lg-3">
   <app-social></app-social>
   </div>
</div>


   <div class="col-sm-12 col-md-12 col-lg-12 banner">
      <app-banner></app-banner>
   </div>
  